---

---

<div
  class="prose dark:prose-invert max-w-none
  prose-h1:font-bold prose-h1:text-2xl
  prose-h2:font-bold prose-h2:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline py-8"
>
  <slot />
</div>
