---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<div class="mt-8 w-full">
  <h2
    class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
  >
    Articles
  </h2>
  <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
    {
      posts.map((post) => (
        <li>
          <a class="underline" href={`/posts/${post.slug}/`}>
            {post.data.title}
          </a>
          <p>
            <FormattedDate date={post.data.date} />
          </p>
        </li>
      ))
    }
  </ul>
  <ul></ul>
</div>
