---
import { Separator } from "./ui/separator";
import { Twitter } from "lucide-react";
import { Github } from "lucide-react";
import { Linkedin } from "lucide-react";
import { Mail } from "lucide-react";
import { Button } from "./ui/button";
---

<div class="w-full border-t py-2 px-8 flex mt-auto justify-center">
  <div class="flex justify-center w-full max-w-7xl px-8">
    <div class="flex items-center space-x-4">
      <a href="https://github.com/lmyslinski" target="_blank" rel="noreferrer">
        <Button className="text-muted-foreground" variant="ghost" size="icon">
          <Github />
        </Button>
      </a>
      <Separator orientation="vertical" />
      <a
        href="https://twitter.com/lukmyslinski"
        target="_blank"
        rel="noreferrer"
      >
        <Button className="text-muted-foreground" variant="ghost" size="icon">
          <Twitter />
        </Button>
      </a>
      <Separator orientation="vertical" />
      <a href="mailto:lukmyslinski@gmail.com" target="_blank" rel="noreferrer">
        <Button className="text-muted-foreground" variant="ghost" size="icon">
          <Mail />
        </Button>
      </a>
      <Separator orientation="vertical" />
      <a
        href="https://www.linkedin.com/in/lmyslinski/"
        target="_blank"
        rel="noreferrer"
      >
        <Button className="text-muted-foreground" variant="ghost" size="icon">
          <Linkedin />
        </Button>
      </a>
    </div>
  </div>
</div>
