---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/header";
import PostHog from "../components/posthog.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={""} />
    <PostHog />
  </head>
  <body>
    <div class="flex flex-col items-center h-full">
      <Header client:load />
      <div class="flex flex-col px-4 max-w-7xl grow w-full">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
